 
.navbar {
   background: #FFC0CB;
}

.logo img{height: 90px}

@media(min-width:768px)  {
   .news-input {
       width: 50%;
   }
}

.nav-items {
   color: #333;
}

.dropdown-menu {
   background: #FFC0CB;
}

.hover-text {
   color: #333;
}

.hover-text:hover {
   color: rgb(255, 0, 106);
}


/*this css file is for all the items for sale*/

.btn  {
   background-color: rgb(240, 167, 179);
   border-color: antiquewhite;
   color: white;
     }
.btn:hover {
   background-color: #ccb1b5;
   border-color: antiquewhite;
   color: white;
}

     

 /*footer*/
 .background {
    background-color:#FFC0CB;

 }    

