/* @media(min-width:768px) {
    .news-input {
        width: 50%;
    }
} */

.navbar {
    background: #FFC0CB;
}

.logo img {
    height: 90px
}


.nav-items {
    color: #333;
}

.dropdown-menu {
    background: #FFC0CB;
}


/*about-bar*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sticky-background {
    background-image: url(pro-img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.overlay-text {
display: flex;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman'; color: #fff;
/* font-size: 1.4rem; */
font-size: 1.3rem;
padding-top: 10%;
z-index: 1;
position: relative;
}


.overlay-text h1 {
    font-size: 36px;
}

.overlay-text p {
    font-size: 18px;
}

h1 p {
    margin-left: 0;
}

/*fashion brand*/

.contain {
    width: 200px;
    height: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.header img {
    height: auto;
    width: 100px;
}

.container-fashion img {
    height: auto;
    width: 20%;
    margin-top: 6%;
}

/*images */


/*img{
    height: auto;
    width: 30%;
    gap: 4px ;
}*/
/*.body{
    background-image: url(pro-img/backa.jpg);
    background-size: cover;
}

.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0s;
}

.hi-slide .hi-next,
  .hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    transition: all 0.8s;
    font-size: 20px;
    font-weight: bold;
  }

  .hi-slide .hi-next:hover,
  .hi-slide  .hi-prev:hover {
    opacity: 2;
    background-color: pink;
  }

.hi-slide .hi-prev{ left: 59px;}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -59px;
}

.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 293px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;
}

.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}*/

/*another sticky img 2*/
.sticky-background3 {
    background-image: url(pro-img/gownbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 65vh;
    position: relative;
}

/*another sticky img 2*/
.sticky-background2 {
    background-image: url(pro-img/rex.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
}

/*featured product hover*/

.hover-text {
    color: #333;
}

.hover-text:hover {
    color: rgb(211, 120, 166);
}

/*this css file is for all the items for sale*/

.btn {
    background-color: rgb(194, 144, 152);
    border-color: antiquewhite;
    color: white !important;
}

.btn:hover {
    background-color: #eed3d7;
    border-color: antiquewhite;
    color: white;
}

/*terms and con*/
.btn-terms {
    background-color: #F875AA;
    ;
    border-color: #eed3d7;
}

/*footer*/
.background {
    background-color: #FFC0CB;

}