/*Navbar*/
.navbar {
    border-bottom: #333 solid 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-items {
    color: #333;
}



/*about-bar*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sticky-background {
    background-image: url(https://res.cloudinary.com/dtz4rslmb/image/upload/v1743675511/gro_ikricj.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.overlay-text {
display: flex;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman'; color: #fff;
/* font-size: 1.4rem; */
font-size: 1.3rem;
padding-top: 10%;
z-index: 1;
position: relative;
}


.overlay-text h1 {
    font-size: 36px;
}

.overlay-text p {
    font-size: 18px;
}

h1 p {
    margin-left: 0;
}

/*fashion brand*/

/* .contain {
    width: 200px;
    height: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.header img {
    height: auto;
    width: 100px;
}

.container-fashion img {
    height: auto;
    width: 20%;
    margin-top: 6%;
} */

/*Featured Products*/

.featured {
    margin-top: 150px;
    margin-bottom: 70px;
}

.card-title {
    font-size: 17px;
}




.cartContainer {
    background-color: rgba(0, 0, 0, 0.377);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 41px;
    right: 17px;
    cursor: pointer;
}

.cartContainer .shopping-cart-img {
    width: 28px;
    margin: 7px 5px;
}



/*services*/
#services  {
    margin-top: 170px;
}

.services-text {
    font-size: 35px;
}

.container {
    margin-bottom: 150px;
}

/*another sticky img 2*/
.sticky-background3 {
    background-image: url(pro-img/gownbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 65vh;
    position: relative;
}

/*another sticky img 2*/
.sticky-background2 {
    background-image: url(pro-img/rex.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
}

/*featured product hover*/



/*this css file is for all the items for sale*/

.btn {
    background-color: black;
    padding: 7px 35px 7px 35px;
    border-radius: 15px;
    color: white !important;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.btn:hover {
    /* background-color: #eed3d7;
    border-color: antiquewhite; */
    color: white;
}

/*terms and con*/
.btn-terms {
    background-color: #F875AA;
    ;
    border-color: #eed3d7;
}

/*footer*/
.background {
    background-color: #FFC0CB;

}